/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and general layout */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fbfd;
    color: #6b1616;
  }
  
  /* Header */
  header {
    background-color: #090a0a;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    color: #8b1b1b;
    font-size: 24px;
  }
