/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #1f1e1e;
    line-height: 1.2;
  }
  
  header {
    text-align: center;
    background-color: #0a0a0a;
    color: rgb(212, 22, 22);
    padding: 10px 20px;
  }
.logo img {
  width: 20px; /* Ajusta el tamaño del logo según lo necesites */
  height: auto;
}
  
  header h1 {
    font-size: 30px;
  }
  
  .content {
    padding: 10px;
  }
  
  .principles h2 {
    font-size: 20px;
    margin-top: 5px;
  }
  
  .principles p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .documents {
    margin-top: 30px;
  }
  
  .documents h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .document-thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .document {
    width: 30%;
    text-align: center;
  }
  
  .document img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .document img:hover {
    transform: scale(1.1);
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
    background-color: #2c3e50;
    color: white;
  }
  
  footer p {
    font-size: 14px;
  }
  
  #location-time {
    color: #fff;
    font-size: 16px;
  }
  
  /* Main content */
  main {
    margin-top: 50px; /* To avoid overlap with the fixed header */
    padding: 10px;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
